.notes-container{
    padding-left: 20px;
}

.add-note-button {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
}

.add-note-button:hover {
    cursor: pointer;
    background-color: orange;
}